.websiteBody{
    margin-top: 60px;
    transform: scale(1.044); 
  
  }
  button{
      border:0ch;
      cursor: pointer;
  }
  .hov:hover{
      color:rgb(255, 185, 94);
  }
  .zoom {
     
      transition: transform .2s; /* Animation */
    }
    
    .zoom:hover {
      transform: scale(1.15); 
    }
  
  .q1{
      display:block;
      margin:auto;
      width:100%;
      height:auto;
      pointer-events:auto;
  }
  .outer_q1{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:1;
  }
  .q2{
      position:relative;
      z-index:2;
      pointer-events:auto;
      width:100%;
      margin-left:0;
      min-width:200px;
      max-width:1440px;
      margin:auto;
      background-color:rgba(255, 255, 255, 1);
      overflow:hidden;
      display:block;
  }
  .outer_q2{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:2;
  }
  .q3{
      position:relative;
      z-index:-9;
      /* pointer-events:auto; */
      margin-left:118px;
      width:700px;
      min-width:700px;
      height:119px;
      margin-top:43px;
      margin-bottom:1953px;
      min-height:119px;
      /* border:1px solid rgba(255, 255, 255, 1); */
      /* box-sizing:border-box; */
  }
  .outer_q3{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:4;
  }
  .q4{
      position:relative;
      z-index:12;
      pointer-events:auto;
      margin-left:870px;
      width:127.06px;
      min-width:127.06px;
      height:48.72px;
      margin-top:23px;
      margin-bottom:44.28px;
      min-height:48.72px;
  }
  .outer_q4{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:12;
  }
  .q5{
      position:relative;
      z-index:14;
      pointer-events:auto;
      margin-left:6.296237997796319%;
      width:87.36030221942393%;
      height:59.523809523809526%;
      margin-top:6.296237997796319%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(173, 173, 173, 1);
      font-style:normal;
      font-family:Rowdies;
      font-weight:300;
      font-size:19px;
      line-height:28.80000114440918px;
  }
  .outer_q5{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:14;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q6{
      position:relative;
      z-index:13;
      pointer-events:auto;
      margin-left:0%;
      width:100%;
      height:100%;
      margin-top:0%;
      background-color:rgba(196, 196, 196, 0);
  }
  .outer_q6{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:13;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q7{
      position:relative;
      z-index:9;
      pointer-events:auto;
      margin-left:1041px;
      width:120.37px;
      min-width:120.37px;
      height:48.72px;
      margin-top:-94px;
      margin-bottom:42.28px;
      min-height:48.72px;
  }
  .outer_q7{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:9;
  }
  .q8{
      position:relative;
      z-index:11;
      pointer-events:auto;
      margin-left:5.815402508930802%;
      width:87.23103763396203%;
      height:59.523809523809526%;
      margin-top:6.6461742959209165%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(173, 173, 173, 1);
      font-style:normal;
      font-family:Rowdies;
      font-weight:300;
      font-size:19px;
      line-height:28.80000114440918px;
  }
  .outer_q8{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:11;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q9{
      position:relative;
      z-index:10;
      pointer-events:auto;
      margin-left:0%;
      width:100%;
      height:100%;
      margin-top:0%;
      background-color:rgba(196, 196, 196, 0);
  }
  .outer_q9{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:10;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q10{
      position:relative;
      z-index:6;
      pointer-events:auto;
      margin-left:726px;
      width:109.04px;
      min-width:109.04px;
      height:49px;
      margin-top:-94px;
      margin-bottom:42px;
      min-height:49px;
  }
  .outer_q10{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:6;
  }
  .q11{
      position:relative;
      z-index:8;
      pointer-events:auto;
      margin-left:19.258987527512847%;
      width:61.44534115920765%;
      height:59.183673469387756%;
      margin-top:7.336757153338227%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(173, 173, 173, 1);
      font-style:normal;
      font-family:Rowdies;
      font-weight:300;
      font-size:21px;
      line-height:28.80000114440918px;
  }
  .outer_q11{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:8;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q12{
      position:relative;
      z-index:7;
      pointer-events:auto;
      margin-left:0%;
      width:100%;
      height:100%;
      margin-top:0%;
      background-color:rgba(196, 196, 196, 0);
  }
  .outer_q12{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:7;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q13{
      position:relative;
      z-index:15;
      pointer-events:auto;
      margin-left:-0.09328358208955224%;
      width:100.27985074626865%;
      height:100%;
      margin-top:-0.09328358208955224%;
      background-color:rgba(196, 196, 196, 0);
  }
  .outer_q13{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:15;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q14{
      position:relative;
      z-index:5;
      pointer-events:auto;
      margin-left:0.5597014925373134%;
      width:19.799440298507463%;
      height:62.18487394957983%;
      margin-top:2.1455223880597014%;
  }
  .outer_q14{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:5;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q15{
      position:relative;
      z-index:16;
      pointer-events:auto;
      margin-left:628px;
      width:703px;
      min-width:703px;
      height:476px;
      margin-top:-1930px;
      margin-bottom:1454px;
      min-height:476px;
  }
  .outer_q15{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:16;
  }
  .q16{
      position:relative;
      z-index:17;
      pointer-events:auto;
      margin-left:109px;
      width:416px;
      min-width:416px;
      margin-top:-1909px;
      margin-bottom:1720px;
      min-height:189px;
      text-align:left;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(255, 153, 51, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:39px;
      line-height:56px;
  }
  .outer_q16{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:17;
  }
  .q17{
      position:relative;
      z-index:18;
      pointer-events:auto;
      margin-left:118px;
      width:393px;
      min-width:393px;
      margin-top:-1708px;
      margin-bottom:1550px;
      min-height:158px;
      text-align:left;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(103, 103, 103, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:400;
      font-size:19.99px;
      line-height:30px;
  }
  .outer_q17{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:18;
  }
  .q18{
      position:relative;
      z-index:19;
      pointer-events:auto;
      margin-left:118px;
      width:176px;
      min-width:176px;
      height:52px;
      margin-top:-1516px;
      margin-bottom:1454px;
      min-height:62px;
  }
  .outer_q18{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:19;
  }
  .q19{
      position:relative;
      z-index:21;
      pointer-events:auto;
      margin-left:8.219178082191782%;
      width:82.351598173516%;
      height:46.96774193548387%;
      margin-top:7.305936073059362%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(255, 255, 255, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:19.5px;
      line-height:30px;
  }
  .outer_q19{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:21;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q20{
      position:relative;
      z-index:20;
      pointer-events:auto;
      margin-left:0%;
      width:100%;
      height:100%;
      margin-top:0%;
      background-color:rgba(255, 153, 51, 1);
      border-radius:10px;
  }
  .outer_q20{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:20;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q21{
      position:relative;
      z-index:22;
      pointer-events:auto;
      margin-left:0px;
      width:1440px;
      min-width:1440px;
      height:569px;
      margin-top:-1278px;
      margin-bottom:709px;
      min-height:569px;
      background-color:rgba(255, 153, 51, 1);
  }
  .outer_q21{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:22;
  }
  .q22{
      position:relative;
      z-index:23;
      pointer-events:auto;
      margin-left:438px;
      width:573px;
      min-width:573px;
      margin-top:-1217px;
      margin-bottom:1155px;
      min-height:62px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(255, 255, 255, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:46px;
      line-height:63px;
  }
  .outer_q22{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:23;
  }
  .q23{
      position:relative;
      z-index:39;
      pointer-events:auto;
      margin-left:245px;
      width:942px;
      min-width:942px;
      margin-top:-1155px;
      margin-bottom:1106px;
      min-height:49px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(255, 255, 255, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:17.5px;
      line-height:63px;
  }
  .outer_q23{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:39;
  }
  .q24{
      position:relative;
      z-index:34;
      pointer-events:auto;
      margin-left:1032px;
      width:256px;
      min-width:256px;
      height:188px;
      margin-top:-1011px;
      margin-bottom:823px;
      min-height:188px;
  }
  .outer_q24{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:34;
  }
  .q25{
      position:relative;
      z-index:38;
      pointer-events:auto;
      transform:rotate(-0.42097361635095865deg);
      margin-left:16.796874999999993%;
      width:69.66015624999997%;
      height:56.25%;
      margin-top:14.453124999999993%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(255, 153, 51, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:53px;
      line-height:63px;
  }
  .outer_q25{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:38;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q26{
      position:relative;
      z-index:37;
      pointer-events:auto;
      margin-left:14.84375%;
      width:71.6796875%;
      height:17.276595744680847%;
      margin-top:4.6875%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(255, 153, 51, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:38px;
      line-height:63px;
  }
  .outer_q26{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:37;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q27{
      position:relative;
      z-index:36;
      pointer-events:auto;
      transform:rotate(-0.4178206446962222deg);
      margin-left:0%;
      width:100.00390625%;
      margin-top:26.171875%;
      height:0.001px;
      size:0.001px;
      border:1.591px solid rgba(255, 153, 51, 1);
      /* color: rgba(255, 153, 51, 1); */
  
  }
  .outer_q27{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:36;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q28{
      position:relative;
      z-index:35;
      pointer-events:auto;
      margin-left:0.390625%;
      width:99.703125%;
      height:100%;
      margin-top:0%;
      background-color:rgba(254, 254, 254, 1);
      filter:drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
      border-radius:45px;
  }
  .outer_q28{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:35;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q29{
      position:relative;
      z-index:29;
      pointer-events:auto;
      margin-left:597px;
      width:256px;
      min-width:256px;
      height:188px;
      margin-top:-1011px;
      margin-bottom:823px;
      min-height:188px;
  }
  .outer_q29{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:29;
  }
  .q30{
      position:relative;
      z-index:33;
      pointer-events:auto;
      transform:rotate(-0.42097361635095865deg);
      margin-left:16.796875000000004%;
      width:69.66015625000001%;
      height:56.25%;
      margin-top:14.453125000000002%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(255, 153, 51, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:53px;
      line-height:63px;
  }
  .outer_q30{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:33;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q31{
      position:relative;
      z-index:32;
      pointer-events:auto;
      margin-left:14.84375%;
      width:71.6796875%;
      height:17.276595744680847%;
      margin-top:4.6875%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(255, 153, 51, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:38px;
      line-height:63px;
  }
  .outer_q31{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:32;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q32{
      position:relative;
      z-index:31;
      pointer-events:auto;
      transform:rotate(-0.4178206446962222deg);
      margin-left:0%;
      width:100.00390625%;
      margin-top:26.171875%;
      height:0.001px;
      border:1.591px solid rgba(255, 153, 51, 1);
  }
  .outer_q32{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:31;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q33{
      position:relative;
      z-index:30;
      pointer-events:auto;
      margin-left:0.390625%;
      width:99.703125%;
      height:100%;
      margin-top:0%;
      background-color:rgba(254, 254, 254, 1);
      filter:drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
      border-radius:45px;
  }
  .outer_q33{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:30;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q34{
      position:relative;
      z-index:24;
      pointer-events:auto;
      margin-left:117px;
      width:256px;
      min-width:256px;
      height:188px;
      margin-top:-1011px;
      margin-bottom:823px;
      min-height:188px;
  }
  .outer_q34{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:24;
  }
  .q35{
      position:relative;
      z-index:28;
      pointer-events:auto;
      transform:rotate(-0.42097361635095865deg);
      margin-left:16.796875000000004%;
      width:69.66015625000001%;
      height:56.25%;
      margin-top:14.453125000000002%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(255, 153, 51, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:53px;
      line-height:63px;
  }
  .outer_q35{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:28;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q36{
      position:relative;
      z-index:27;
      pointer-events:auto;
      margin-left:14.84375%;
      width:71.6796875%;
      height:17.276595744680847%;
      margin-top:4.6875%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(255, 153, 51, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:38px;
      line-height:63px;
  }
  .outer_q36{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:27;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q37{
      position:relative;
      z-index:26;
      pointer-events:auto;
      transform:rotate(-0.4178206446962222deg);
      margin-left:0%;
      width:100.00390625%;
      margin-top:26.171875%;
      height:0.1px;
      border:1.591px solid rgba(255, 153, 51, 1);
  }
  .outer_q37{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:26;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q38{
      position:relative;
      z-index:25;
      pointer-events:auto;
      margin-left:0.390625%;
      width:99.703125%;
      height:100%;
      margin-top:0%;
      background-color:rgba(254, 254, 254, 1);
      filter:drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
      border-radius:45px;
  }
  .outer_q38{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:25;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q39{
      position:relative;
      z-index:40;
      pointer-events:auto;
      margin-left:407px;
      width:626px;
      min-width:626px;
      margin-top:-623px;
      margin-bottom:485px;
      min-height:138px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(255, 153, 51, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:46px;
      letter-spacing:0.34px;
      line-height:63px;
  }
  .outer_q39{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:40;
  }
  .q40{
      position:relative;
      z-index:41;
      pointer-events:auto;
      margin-left:232px;
      width:976px;
      min-width:976px;
      margin-top:-554px;
      margin-bottom:509px;
      min-height:45px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(103, 103, 103, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:400;
      font-size:17.5px;
      letter-spacing:0.12px;
      line-height:63px;
  }
  .outer_q40{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:41;
  }
  .q41{
      position:relative;
      z-index:47;
      pointer-events:auto;
      margin-left:844px;
      width:378px;
      min-width:378px;
      height:213px;
      margin-top:-437px;
      margin-bottom:224px;
      min-height:213px;
  }
  .outer_q41{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:47;
  }
  .q42{
      position:relative;
      z-index:51;
      pointer-events:auto;
      margin-left:6.084656084656084%;
      width:87.64550264550263%;
      height:40.71830985915493%;
      margin-top:26.190476190476186%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(254, 152, 50, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:19.9px;
      line-height:32px;
  }
  .outer_q42{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:51;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q43{
      position:relative;
      z-index:50;
      pointer-events:auto;
      margin-left:3.9682539682539693%;
      width:89.65608465608469%;
      height:20.23474178403756%;
      margin-top:5.291005291005293%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(254, 152, 50, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:25px;
      line-height:63px;
  }
  .outer_q43{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:50;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q44{
      position:relative;
      z-index:49;
      pointer-events:auto;
      transform:rotate(-0.315492641303902deg);
      margin-left:0%;
      width:100.0026455026455%;
      margin-top:19.576719576719576%;
      height:0.1px;
      border:1.591px solid rgba(255, 153, 51, 1);
  }
  .outer_q44{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:49;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q45{
      position:relative;
      z-index:48;
      pointer-events:auto;
      margin-left:0%;
      width:100%;
      height:100%;
      margin-top:0%;
      background-color:rgba(255, 252, 252, 1);
      filter:drop-shadow(-10px -10px 14px rgba(0, 0, 0, 0.25));
      border-radius:40px;
  }
  .outer_q45{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:48;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q46{
      position:relative;
      z-index:42;
      pointer-events:auto;
      margin-left:218px;
      width:378px;
      min-width:378px;
      height:213px;
      margin-top:-437px;
      margin-bottom:224px;
      min-height:213px;
  }
  .outer_q46{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:42;
  }
  .q47{
      position:relative;
      z-index:46;
      pointer-events:auto;
      margin-left:6.084656084656084%;
      width:87.64550264550263%;
      height:40.71830985915493%;
      margin-top:26.190476190476186%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(254, 152, 50, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:19.9px;
      line-height:32px;
  }
  .outer_q47{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:46;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q48{
      position:relative;
      z-index:45;
      pointer-events:auto;
      margin-left:3.9682539682539684%;
      width:89.65608465608466%;
      height:20.23474178403756%;
      margin-top:5.291005291005291%;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(254, 152, 50, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:700;
      font-size:26px;
      line-height:63px;
  }
  .outer_q48{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:45;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q49{
      position:relative;
      z-index:44;
      pointer-events:auto;
      transform:rotate(-0.315492641303902deg);
      margin-left:0%;
      width:100.0026455026455%;
      margin-top:19.576719576719576%;
      height:0.1px;
      border:1.591px solid rgba(255, 153, 51, 1);
  }
  .outer_q49{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:44;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q50{
      position:relative;
      z-index:43;
      pointer-events:auto;
      margin-left:0%;
      width:100%;
      height:100%;
      margin-top:0%;
      background-color:rgba(255, 252, 252, 1);
      filter:drop-shadow(-10px -10px 14px rgba(0, 0, 0, 0.25));
      border-radius:40px;
  }
  .outer_q50{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:43;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q51{
      position:relative;
      z-index:3;
      pointer-events:auto;
      margin-left:0px;
      width:1440px;
      min-width:1440px;
      height:117px;
      margin-top:-117px;
      margin-bottom:0px;
      min-height:117px;
      background-color:rgba(254, 152, 50, 1);
  }
  .outer_q51{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:3;
  }
  .q52{
      position:relative;
      z-index:52;
      pointer-events:auto;
      margin-left:0px;
      width:1440px;
      min-width:1440px;
      margin-top:-95px;
      margin-bottom:19px;
      min-height:76px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(255, 255, 255, 1);
      font-style:normal;
      font-family:Utsaah;
      font-weight:400;
      font-size:20px;
      line-height:63px;
  }
  .outer_q52{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:52;
  }